<div id="head" class="container">
  <div class="head_logo l">
    <a href="#">
      <img src="{{myImage}}" alt="UPM" title="UPM">
    </a>
  </div>
  <div class="head_text r">
    <p>SmartHome</p>
  </div>

  <ul class="head_menu l">
    <li>
      <a href="inicio()">Inicio</a>
<!--      <a routerLink="inicio">Inicio</a>-->
    </li>

    <li>
      <a href="pictures()">Pictures</a>
    </li>

  </ul>

  <div class="head_login r">
    <ul class="nav justify-content-end">
      <li id="register" class="nav-item"><a class="nav-link" href="registro()" *ngIf="showlogin">Registro</a></li>
      <li id="login" class="nav-item"><a class="nav-link" href="login()" *ngIf="showlogin">Login</a></li>
      <li id="username" class="nav-item"><a class="nav-link" *ngIf="showlogout">{{username}}</a></li>
      <li id="logout" class="nav-item"><a class="nav-link" href="inicio()" (click)="logout()" *ngIf="showlogout">Logout</a></li>
    </ul>
  </div>
</div>
