.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 0px;
}

.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  width: 100%;
  text-align: center;
}

#head {
  height: 100px;
  width: 100%;
  background-color: #D7DBD8;
}

#head .head_logo {
  margin-top: 12px;
  width: 100px;
  height: 77px;
  float: left;
  margin-left: 10px;
}

#head .head_text {
  line-height: 100px;
  margin-right: 10px;
  float: left;
  color: #646464;
  font-style: initial;
}

#head .head_menu {
  font-size: 18px;
  line-height: 100px;
  margin-left: 20px;
}

#head .head_menu li {
  float: left;
  margin-left: 30px;
}

#head .head_login {
  float:right;
  font-size: 18px;
  line-height: 100px;
  margin-right: 20px;
}

#head .head_login li {
  float: left;
  margin-left: 30px;
}

ul{
  list-style-type:none;
}

.invisible{
  display: none;
}
