<mat-toolbar color="primary">
<!--  <img alt="miw" src="../../assets/img/nuevo.png"/>-->
  <span>Ready </span>
<!--  <span class="backend"><small><small> Back-end: {{backend}}</small></small></span>-->
  <span class="toolbar-spacer"></span>
  <span>
    <app-date></app-date>
    <button (click)="logout()" mat-button>
      <span>{{username}}</span>
<!--      <mat-icon>person</mat-icon>-->
      <span>Logout</span>
    </button>
<!--    <button mat-button routerLink="/home/profile">-->
<!--&lt;!&ndash;      <mat-icon>account_box</mat-icon>&ndash;&gt;-->
<!--      <span>Profile</span>-->
<!--    </button>-->
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>Menu</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/home/users">
      <span>Users</span>
    </button>
    <button mat-menu-item routerLink="/home/pictures">
        <span>pictures</span>
    </button>
    <button mat-menu-item routerLink="/home/videos">
      <span>videos</span>
    </button>
    <button mat-menu-item routerLink="/home/doorbells">
      <span>doorbells</span>
    </button>
</mat-menu>



<!--<mat-menu #menu="matMenu" xPosition="before">-->
<!--  <button [matMenuTriggerFor]="users" mat-menu-item>-->
<!--    <mat-icon>people</mat-icon>-->
<!--    <span>Users</span>-->
<!--  </button>-->
<!--  <button [matMenuTriggerFor]="medias" mat-menu-item>-->
<!--    <mat-icon>people</mat-icon>-->
<!--    <span>Pictures & Videos</span>-->
<!--  </button>-->
<!--</mat-menu>-->


<!--<mat-menu #users="matMenu">-->
<!--  <button mat-menu-item routerLink="/home/users">-->
<!--    <mat-icon>account_circle</mat-icon>-->
<!--    <span>Users</span>-->
<!--  </button>-->
<!--</mat-menu>-->
<!--<mat-menu #medias="matMenu">-->
<!--  <button mat-menu-item routerLink="/home/pictures">-->
<!--    <mat-icon>account_circle</mat-icon>-->
<!--    <span>pictures</span>-->
<!--  </button>-->
<!--  <button mat-menu-item routerLink="/home/videos">-->
<!--    <mat-icon>account_circle</mat-icon>-->
<!--    <span>videos</span>-->
<!--  </button>-->
<!--  <button mat-menu-item routerLink="/home/doorbells">-->
<!--    <mat-icon>account_circle</mat-icon>-->
<!--    <span>doorbells</span>-->
<!--  </button>-->
<!--</mat-menu>-->

<router-outlet></router-outlet>
