<div id="texto" class="container-fluid" >
  <div id="service" class="container">
    <div class="area_title"></div>
    <ul class="service_list">
      <li>
        <h3>Cafeteria</h3>
        <br>
        <img src="{{cafe}}" width="300" height="240">
        <p>Detalles
          <br>
          TIPOS DE COCINA
          <br>
          Café, Mediterránea, Europea, Española, Tienda gourmet
          <br>
          DIETAS ESPECIALES
          <br>
          Opciones vegetarianas, Opciones veganas, Opciones sin gluten
          <br>
          COMIDAS
          <br>
          Desayuno, Comidas, Cenas, Brunch, Bebidas</p>
        <br>
      </li>
      <li>
        <h3>Ducha</h3>
        <br>
        <img src="{{ducha}}" width="300" height="240">
        <p>
          Detalles
          <br>
          Agua calient
          <br>
          Champoo
          <br>
          Jabon
          <br>

        </p>
        <br>
      </li>
      <li>
        <h3>Vestuario</h3>
        <br>
        <img src="{{cambia}}" width="300" height="240">
        <p>Detalles
          <br>
          Armario con Locker
          <br>
        </p>
        <br>
      </li>
    </ul>
  </div>
</div>
